.main__content {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 20px;
}

.main__video {
    width: 100%;
}

.main__video-preview {
    position: relative;
}

.main__video-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.33);
    transition: all 0.2s;
    z-index: 1;
}

.main__video-overlay i {
    color: #ffffffc2;
    font-size: 40px;
    cursor: pointer;
}

.main__video-overlay i:hover {
    color: var(--primary-color);
}

.main__video-preview:hover .main__video-overlay {
    opacity: 1;
}

.main__video-image {
    width: 100%;
    height: 100%;
    background-color: var(--sec-color);
    pointer-events: none;
}

.main__video-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__video-live {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: var(--live-color);
    color: #fff;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    display: none;
    cursor: pointer;
    z-index: 2;
}

.main__video-viewers,
.main__video-length {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    z-index: 2;
}

.main__video-viewers {
    display: none;
}

.main__video.live .main__video-viewers,
.main__video.live .main__video-live {
    display: block;
}

.main__video.live .main__video-length {
    display: none;
}

.main__video-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.main__video-footer-left {
    display: flex;
    align-items: center;
}

.main__video-avatar {
    overflow: hidden;
    width: 30px;
    height: 30px;
    background-color: var(--main-color);
    border-radius: 50%;
    flex-shrink: 0;
}

.main__video-descr {
    margin-left: 20px;
}

.main__video-title {
    font-size: 18px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.main__video-streamer-name {
    font-size: 14px;
    color: #777777;
    cursor: pointer;
    transition: 0.3s;
}

.main__video-title:hover,
.main__video-streamer-name:hover {
    color: var(--icon-text-hover-color);
}

.main__video-options {
    cursor: pointer;
}

