@media all and (max-width: 1200px) {
    body {
        grid-template-columns: 62px 1fr;
    }

    .side-panel__streamers {
        height: 100%;
    }

    .side-panel__viewers,
    .side-panel__name,
    .side-panel__community {
        display: none;
    }
}

@media all and (max-width: 815px) {
    .main__video-preview {
        height: 50vw;
    }
}