@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

:root {
    --main-color: #fff;
    --sec-color: #ebebeb;
    --hover-color: #dfdedf;

    --primary-color: #f3a53a;
    --live-color: #c80000;
    --icon-text-hover-color: #0074c2;
}

/*body.night {
    --main-color: #1F1D36;
    --sec-color: #3F3351;
    --hover-color: #864879;

    --primary-color: #E9A6A6;
    --live-color: #c80000;
    --icon-text-hover-color: #a8c0ce;
}*/

* {
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
    font-weight: 700;
}

body {
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 240px 1fr;
    background-color: var(--main-color);
}

.streamer-avatar {
    font-size: 24px;
}

/* Remove scroll bars */
.main__categories::-webkit-scrollbar,
.main::-webkit-scrollbar,
.side-panel__streamers::-webkit-scrollbar {
    width: 0; 
    height: 0;
}

.streamer-avatar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.streamer-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



